<html>
    <head>
        <title>Django blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Django blog</a></h1>




        </header>

        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>