<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {% for post in posts %}
        <div class="post-entry">
            <h2><a href="{% url 'user_detail' users.pk %}">{{ users.First_name }}</a></h2>
            <p>{{ post.body }}</p>
            <a href="{% url 'user_edit' users.pk %}"> Edit </a>
        </div>
    {% endfor %}
{% endblock content %}
</body>
</html>