<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    <h1> Delete user </h1>

    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ user.Firs_name }}"?</p>
        <input type="submit" value="Confirm"/>
    </form>

{% endblock content %}
</body>
</html>