<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="post-entry">
        <h2>{{ users.First_name }}</h2>
        <p>{{ users.body }}</p>
        <p><a href="{% url 'user_detail' users.pk %}"> Detail</a></p>
    </div>

{% endblock content %}
</body>
</html>